node_modules/
dist/
.env
.env.local
.nx/cache
.angular/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/settings.json

# Prisma
prisma/migrations/*.sql

.claude/
